<h2>Age recognition: </h2>
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">

    <div class="row">
      <button (click)="start()" class="btn btn-primary">Play</button>
      <button (click)="pause()" class="btn btn-warning">Pause</button>
      <button (click)="resume()" class="btn btn-info">Resume</button>
    </div>

    <div class="row">
        <div class="text-center">
          <h3>
            <video #videoElement></video>
          </h3>
        </div>
    </div>

  </div>
  <div class="col-md-3"></div>
</div>