/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

.title {
    color: red;
    font-size: 2.5vw
}
.desc {
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
}
.startRecordButton {
    display: flex;
  justify-content: center;
}
.navbarBottom {
    font-size: 1.0vw;
    color: white;
}